<center><h1>Welcome to your To Do list!</h1>
<h3>Enter a Task you would like to add</h3>
<form action="add_task"  method="post">
Title<input type = "text" name = "title">
Description<input type = "text" name = "description">
<select name="user_for_task">
    <option>Select a member to task</option> 
    <% @users.each do |users| %>
        <option value="<%= users.id %>"><%= users.name %></option>
   <% end %>
 <input type = "submit"> 
</select>
</form>
</body>
</html>
</form>
<table border="1">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Team Member Created</th>
      <th>Completed</th>
      <th>Delete</th>
      <th>Edit</th>
      <th>Team Member Created For</th>

    </tr>
  </thead>

  <tbody>
      <% @todo_user.each do |todo| %>
      <tr>

      <td> <%= todo.title %> </td>
      <td> <%= todo.description   %> </td>
      <td> <%= todo.contributor_name%></td>
      <td><a href="complete_todo/<%= todo.id%>"><img src="<%=@completed_icon%>" alt="huh" width="65" height="42" border="0">  </td>
      <td><a href="delete_todo/<%= todo.id%>"><img src="http://www.clker.com/cliparts/W/M/7/n/R/O/delete-button.svg" alt="huh" width="65" height="42" border="0"></td>
      <td><a href="edit_todo/<%=todo.id%>"><img src="http://www.clker.com/cliparts/3/U/9/2/6/e/button-edit-hi.png" alt="huh" width="65" height="42" border="0"></td>  
      <td><%= todo.name%></td>
      <% end %>
      </tr>
  </tbody>
</table>
<p>
<h1>The WHOLE list!</h1>
<table border="1">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Team Member Created</th>
      <th>Completed</th>
      <th>Delete</th>
      <th>Edit</th>
      <th>Team Member Created For</th>

    </tr>
  </thead>

      <tbody>
      <% @todo_all.each do |todo| %>
      <tr>

      <td> <%= todo.title %> </td>
      <td> <%= todo.description   %> </td>
      <td> <%= todo.contributor_name%></td>
      <td><a href="complete_todo/<%= todo.id%>"><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQaSDbB2-_z6rGSMhBzwt5jMlKF4UI92wcmEhfNF1pN86SEr3cKuQ" alt="huh" width="65" height="42" border="0">  </td>
      <td><a href="delete_todo/<%= todo.id%>"><img src="http://www.clker.com/cliparts/W/M/7/n/R/O/delete-button.svg" alt="huh" width="65" height="42" border="0"></td>
      <td><a href="edit_todo/<%=todo.id%>"><img src="http://www.clker.com/cliparts/3/U/9/2/6/e/button-edit-hi.png" alt="huh" width="65" height="42" border="0"></td>  
      <td><%= todo.name%></td>
      <% end %>  
      </tr>
  </tbody>
</table>